@import 'tailwindcss';
@import 'tw-animate-css';
@import './tailwind.polices.css';
@import './tailwind.markdown.css';
@import './tailwind.animations.css';
@plugin 'tailwindcss-animate';
@plugin "@toolwind/corner-shape";

@theme {
  /* Media queries */
  --breakpoint-xs: 18rem; /* 288px */
  --breakpoint-2xl: 87.5rem; /* 1400px */
  --breakpoint-3xl: 112.5rem; /* 1950px */

  /* Container configuration */
  --container-8xl: 90rem; /* 1440px */
  --container-9xl: 100rem; /* 1600px */
  --container-10xl: 112.5rem; /* 1800px */
  --container-11xl: 125rem; /* 2000px */
  --container-12xl: 137.5rem; /* 2200px */
  --container-5xs: 8rem; /* 128px */
  --container-6xs: 7rem; /* 112px */
  --container-7xs: 6rem; /* 96px */

  /* Border radius configuration */
  --radius-5xl: 3rem; /* 48px */
  --radius-6xl: 3.5rem; /* 56px */
  --radius-7xl: 4rem; /* 64px */

  /* Colors */
  --color-primary: #582ab6;
}

@custom-variant dark (&:is(.dark *));

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
