@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwindcss-animate';
@import '@toolwind/anchors';
@plugin "@toolwind/corner-shape";
@import './tailwind.polices.css';
@import './tailwind.markdown.css';
@import './tailwind.animations.css';

@theme {
  /* Container configuration */
  --breakpoint-xs: 18rem; /* 288px */
  --breakpoint-2xl: 87.5rem; /* 1400px */
  --breakpoint-3xl: 112.5rem; /* 1950px */
  --container-8xl: 90rem; /* 1440px */
  --container-9xl: 100rem; /* 1600px */
  --container-10xl: 112.5rem; /* 1800px */
  --container-11xl: 125rem; /* 2000px */
  --container-12xl: 137.5rem; /* 2200px */
  --container-5xs: 8rem; /* 128px */
  --container-6xs: 7rem; /* 112px */
  --container-7xs: 6rem; /* 96px */
}

@custom-variant dark (&:is(.dark *));

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
