@theme {
  /* Font sizes */
  --text-2xs: 0.625rem;
  --text-2xs--line-height: 0.8rem;

  /* Font families */
  --font-fira: 'Fira Code', monospace;
}

code {
  font-family: 'Fira Code', monospace;
}

* {
  /* Ensure ligatures are enabled across browsers */
  font-variant-ligatures: contextual; /* For CodeMirror and general support */
  -moz-font-feature-settings: common-ligatures; /* Firefox */
  -webkit-font-variant-ligatures: common-ligatures; /* Safari */
  font-variant-ligatures: common-ligatures;
}
